<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name = "viewport" content="width = device- width, initial-scale=1.0">
    <meta http-equiv = "X-AU-Compatible" content="ie=edge">
    <title>Результаты всех пользователей</title>
    <script type="text/html" src="../../Test/js/jsPDF/main.js" ></script>
    <link rel="stylesheet" type="text/css"  href="">
    <link rel="stylesheet" href="../css/rPageStyles.css">
    <link rel="stylesheet" href="../css/tableStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        document.addEventListener("DOMContentLoaded", function() { // событие загрузки страницы
            document.querySelectorAll('textarea, input').forEach(function(e) {
                if(e.value === '') e.value = sessionStorage.getItem(e.name, e.value);
                e.addEventListener('input', function() {
                    sessionStorage.setItem(e.name, e.value);
                })
            })

        });
        function saveData(){
            // выбираем на странице все элементы типа textarea и input
            document.querySelectorAll('input').forEach(function(e) {
                sessionStorage.setItem(e.name, e.value);
            });
        }
        function switchIndex(number) {
            let indexes = document.getElementsByName('index');
            for(let i = 0; i < indexes.length;i++){
                indexes[i].value = Number(indexes[i].value) + number;
            }
        }
    </script>
</head>
<body>
<div id="wrapper3">
    <form action="findUser" id="newQuest" method="post" style="position: relative;top: 2%;margin-bottom: -4.5%;left: 96%;margin-left: 10%;width: 30px;margin-top: -3%;">]
        <input type = "hidden" name = "login">
        <input type = "hidden" name = "password">
        <button id='prevPage' type="submit" onclick="saveData()">Найти пользователя</button>
    </form>
    <form action="admin_reg" id="newQuest" method="post" style="left: 20%;top: -9%; position: relative; margin-left: -6%;width:30px; margin-bottom: -1%;">
        <input type = "hidden" name = "login">
        <input type = "hidden" name = "password">
        <button id='prevPage' type="submit" onclick="saveData()">Вернуться назад</button>
    </form>
    <table>
    <td style = "background: none;border: none;">
        <form action="get_all" method="post">
        <input type = "hidden" name = "login">
        <input type = "hidden" name = "password">
        <input type = "hidden" name = "index" value = "<%=usersData.index%>">
        <button id='prevPage' type="submit" onclick="switchIndex(-1)" style="position: unset;margin-left: auto;">Назад</button>
        </form>
    </td>
    <td style = "background: none;border: none;">
        <form action="print" method="post">
            <input type = "hidden" name = "login">
            <input type = "hidden" name = "password">
            <input type = "hidden" name = "index" value = "<%=usersData.index%>">
            <button id='prevPage' type="submit" style="position: unset;margin-left: auto;">Печать</button>
        </form>
    </td>
    <td style = "background: none;border: none;">
        <form action="get_all" method="post">
            <input type = "hidden" name = "login">
            <input type = "hidden" name = "password">
            <input type = "hidden" name = "index" value = "<%=usersData.index%>">
            <button id='prevPage' type="submit" onclick="switchIndex(1)" style="position: unset;margin-left: auto;">Вперед</button>
        </form>
    </td>

    </table>
    <table id = "resultTable" border="1">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Желаемая должность</th>
            <th>Оценка</th>
            <th>Тема теста</th>
        </tr>
        <% for(let i = 0; i < usersData.length; i++) {%>
            <tr><td><%= usersData[i].fName %></td><td><%=usersData[i].sName %></td><td><%=usersData[i].position %></td><td style = "background-color: <%if (usersData[i].position === 'Техник-программист') if(usersData[i].testMark >= 60){%>lightgreen<%}else{%>lightcoral<%}%><%if (usersData[i].position === 'Инженер-программист') if(usersData[i].testMark >= 80){%>lightgreen<%}else{%>lightcoral<%}%>" ><%=usersData[i].testMark %></td><td><%=usersData[i].theme%></td><td>
                    <form action="find" method="post" >
                        <input type = "hidden" name = "login">
                        <input type = "hidden" name = "password">
                        <input type = "hidden" name = "firstName" value = "<%= usersData[i].fName %>">
                        <input type = "hidden" name = "secondName" value = "<%=usersData[i].sName %>">
                        <input type = "hidden" name = "position" value = "<%=usersData[i].position %>">
                        <input type = "hidden" name = "theme" value = "<%=usersData[i].theme%>">
                        <button name = "choose" type="submit" >Посмотреть тест</button>
                    </form>
                </td></tr>
        <%} %>
    </table>
</div>
</body>
</html>