<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css"  href="">
    <link rel="stylesheet" href="../css/rPageStyles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div id = "back">
<form action="/" method="get">
    <fieldset id = "form">
        <legend>Your result</legend>
        <p><%=data.result%></p><br>
    </fieldset>
    <button id = "next" type="submit">Вернуться назад</button>
    <% for(let i = 0; i < data.questResults.length; i++) {%>
        <p>Тест <%=i+1%></p><br>
        <fieldset>
            <legend><%=data.questResults[i].content1%></legend>
            <pre><code><%=data.questResults[i].content2%></code></pre><br>
            <% for(let j = 0; j < data.questResults[i].arrAnswers.length; j++) {%>
                <input type="radio" required name="answer" id="r<%= j+1%>" disabled = disabled><span style = " background-color:<% if(data.questResults[i].answerIdArr[j] == data.questResults[i].idRightAnswer){%> darkseagreen<%}else if(data.questResults[i].idAnswer == data.questResults[i].answerIdArr[j]){%>red<%}%>"><%= data.questResults[i].arrAnswers[j]%></span><br>
            <%} %>
        </fieldset>
    <%} %>
</form>
</div>
</body>

</html>