<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
    <link rel="shortcut icon" href="#">
</head>
<script>
    function activate(){
        let inp = document.getElementsByName('answer');
        for (let i = 0; i < inp.length; i++) {
            if (inp[i].type === "radio" && inp[i].checked) {
                document.getElementById('next').disabled = false;
            }
        }
    };
    function setAnswer(input) {
        for(let i = 1; i <=6;i++){
            let el = document.getElementById('r' + i);
            if(el.id !== input.id) el.value = "off";
            else input.value = i-1;

        }
    }
</script>
<body>
<p>Тест <%=testData.countFinishTests%></p><br>
<form action="#" method="post">
<fieldset onclick="activate()">
    <legend><%=testData.content1%></legend>
    <input type = "hidden" name = "idUser" value = <%= testData.userId%>>
    <input type = "hidden" name = "idQuest" value = <%= testData.idQuest%>>
    <input type = "hidden" name = "answersIds" value = <%= testData.answersIds%>>
    <input type="radio" required name="answer" id="r1" onclick="setAnswer(this)"><%= testData.answers[0]%><br>
    <input type="radio" required name="answer" id="r2" onclick="setAnswer(this)"><%= testData.answers[1]%><br>
    <input type="radio" required name="answer" id="r3" onclick="setAnswer(this)"><%= testData.answers[2]%><br>
    <input type="radio" required name="answer" id="r4" onclick="setAnswer(this)"><%= testData.answers[3]%><br>
    <input type="radio" required name="answer" id="r5" onclick="setAnswer(this)"><%= testData.answers[4]%><br>
    <input type="radio" required name="answer" id="r6" onclick="setAnswer(this)"><%= testData.answers[5]%>
</fieldset>

    <button id = "next" type="submit"  disabled = "disabled">Продолжить</button>
</form>
</body>
</html>