<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
<p>Тест</p><%=data.testNum%><br>
<fieldset>
    <legend><%= data.userQuestion%></legend>
    <input type="radio" required name="answer1" id="r1"><label for="r1"><%= data.answer[0]%></label>
    <input type="radio" required name="answer2" id="r2"><label for="r2"><%= data.answer[0]%></label>
    <input type="radio" required name="answer3" id="r3"><label for="r2"><%= data.answer[0]%></label>
    <input type="radio" required name="answer4" id="r4"><label for="r2"><%= data.answer[0]%></label>
</fieldset>
<form action="#" method="post">
    <button type="submit"><%=data.buttName%></button>
</form>
</body>
</html>