<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css"  href="">
    <link rel="stylesheet" href="../css/rPageStyles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        function activate(){
            let inp = document.getElementsByName('answer');
            for (let i = 0; i < inp.length; i++) {
                if (inp[i].type === "radio" && inp[i].checked) {
                    document.getElementById('next').disabled = false;
                }
            }
        }

        function setAnswer(input) {
            for(let i = 1; i <=6;i++){
                let el = document.getElementById('r' + i);
                if(el.id !== input.id) el.value = "off";
                else input.value = i-1;

            }
        }
    </script>
</head>

<body>
<div id = "back">
<p>Вопрос <%=testData.countFinishTests%> из 15</p><br>
<form action="test" method="post">
<fieldset id = "form" onclick="activate()" >
    <legend><%=testData.content1%></legend>
    <pre><code><%=testData.content2%></code></pre><br>
    <input type = "hidden" name = "idUser" value = <%= testData.userId%>>
    <input type = "hidden" name = "idQuest" value = <%= testData.idQuest%>>
    <input type = "hidden" name = "idTheme" value = <%= testData.idTheme%>>
    <input type = "hidden" name = "answersIds" value = <%= testData.answersIds%>>
    <% for(var i=0; i<testData.answers.length;i++) {%>
    <input type="radio" required name="answer" id="r<%= i+1%>"  onclick="setAnswer(this)"><%= testData.answers[i]%><br>
    <%} %>
</fieldset><br>
    <button id = "next" type="submit"  disabled = "disabled">Продолжить</button>
</form>
</div>
</body>

</html>